.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
Derived/
swift-fluent-theme-designer.xcodeproj/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
